:root {
  --font-Inter: Inter;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --color-primary: #F55A5A;
  --color-secondary: #918E9B;
  --color-font: #2B283A;
  --color-border: #F5F5F5;
  --color-white: #ffffff;

  font-family: var(--font-Inter);
  font-size: 1.5rem;
  font-weight: var(--font-regular);
  color: var(--color-font)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}