:root {
  --font-Inter: Inter;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --color-primary: #141413;
  --color-secondary: #fafaf8;
  --color-border: #d1d5db;
  --color-font: #141413;
  --color-white: #ffffff;

  --line-height-normal: 1.5rem;

  --box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.05);

  font-family: var(--font-Inter);
  font-size: 1.25rem;
  font-weight: var(--font-regular);
  color: var(--color-font);
  line-height: var(--line-height-normal);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6875rem;
  padding: 1.6rem;
  background-color: var(--color-white);
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
}

.logo-image {
  width: 2.7rem;
}

.logo-text {
  font-size: 2rem;
}

main {
  padding: 2rem;
}
h1 {
  line-height: 2.5rem;
}
h2 {
  line-height: 2rem;
}

p,
li {
  color: #475466;
}

.ingredient-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.ingredient-form > input {
  font-size: 0.875rem;
  padding: 0.5625rem 0.8125rem;
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.375rem;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.ingredient-form > button {
  font-size: 0.875rem;
  font-weight: var(--font-medium);
  font-family: var(--font-Inter);
  background-color: var(--color-primary);
  border: none;
  color: var(--color-secondary);
  padding: 0.5625rem 2.2188rem;
  border-radius: 0.375rem;
  flex-shrink: 0;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.ingredient-form,
.ingredient-list,
.get-recipe-container,
.suggested-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 37.125rem;
  margin-inline: auto;
  margin-block: 2.1875rem;
}

.ingredient-list {
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
  margin-top: 3rem;
}

.ingredient-list > h2 {
  font-size: 2rem;
}

li {
  margin: 1rem 1.5rem;
}

li:first-of-type {
  margin-top: 0;
}
li:last-of-type {
  margin-bottom: 0;
}

.get-recipe-container {
  background-color: #f0efeb;
  border-radius: 0.5rem;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}

.get-recipe-text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.get-recipe-text > h3 {
  font-weight: var(--font-semi-bold);
}

.get-recipe-text > p {
  color: #475466;
  font-size: 0.875rem;
}

.get-recipe-container > button {
  background-color: #d0745a;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5625rem 1rem;
  font-size: 0.875rem;
  color: var(--color-secondary);
  cursor: pointer;
}

.suggested-recipe {
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}

.suggested-recipe > h3 {
  margin-bottom: 51rem;
}

.suggested-recipe > h2 {
  margin-top: 1rem;
}
