:root {
  --font-Inter: Inter;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --color-primary: #f55a5a;
  --color-secondary: #918e9b;
  --color-font: #2b283a;
  --color-border: #f5f5f5;
  --color-white: #ffffff;

  font-family: var(--font-Inter);
  font-size: 1rem;
  font-weight: var(--font-regular);
  color: var(--color-font);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6875rem;
  padding: 1.6rem;
  background-color: var(--color-white);
  box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
}

.logo-image {
  width: 2.7rem;
}

.logo-text {
  font-size: 2rem;
}
